header {
    background-color:rgba(75, 74, 239, 1);
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    color: white;
}
.menu_nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu_list{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.botao_entrar, .eu_quero_button{ 
    background-color:#FFCA1D ;
    cursor: pointer;
    color: black;
    border: 1px solid #FFCA1D;
    border-radius: 4px;
    padding: 10px 25px;
}
.botao_entrar:hover {
    background-color:rgba(75, 74, 239, 1) ;
    border-color: #FFCA1D;
}
.botao_login{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}

